<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Web Shop</title>
        <link rel="icon" type="image/png" href="/static/images/favicon.png"/>

        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/modal.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/modal-information.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/modal-checkout.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/modal-order.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/modal-user.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/modal-registration.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/modal-login.css" />

        <script type="module" src="/static/javascript/main.js" defer></script>
    </head>

    <body>

        <div id="header-container">
            <div id="left-header-container-unit">
                <div id="information-button"><img src="/static/images/icons/information.png"><div>Info</div></div>
            </div>
            <div id="middle-header-container-unit">
                <div id="shop-name">Vanilla Shop</div>
            </div>
            <div id="right-header-container-unit">
                <div id="cart-button"><img src="/static/images/icons/cart.png"><div>Cart</div></div>
                <div id="order-button"><img src="/static/images/icons/order.png"><div>Orders</div></div>
                <div id="user-button"><img src="/static/images/icons/user.png"><div>User</div></div>
                <div id="registration-button"><img src="/static/images/icons/registration.png"><div>Register</div></div>
                <div id="login-button"><img src="/static/images/icons/login.png"><div>Login</div></div>
                <div id="logout-button"><img src="/static/images/icons/logout.png"><div>Logout</div></div>
            </div>
        </div>

        <div id="content-container">
            <div id="visual-curtain-for-category-container">
                <div id="category-container"></div>
            </div>

            <div id="filter-product-container">
                <div id="visual-curtain-container-for-filter-container">
                    <div id="horizontal-visual-curtain-above-filter-container"></div>
                    <div id="visual-curtain-behind-filter-container"></div>
                    <div id="filter-container">
                        <div id="search">
                            <div id="left-search-unit">
                                <img src="/static/images/icons/search.png">
                                <input type="text" id="search-input">
                            </div>
                            <div id="right-search-unit">
                                <input type="radio" class="search-range" name="search-range" id="search-range-listed-products" value="listed-products" checked><label for="search-range-listed-products">Listed products</label>
                                <input type="radio" class="search-range" name="search-range" id="search-range-all-products" value="all-products"><label for="search-range-all-products">All products</label>
                            </div>
                        </div>
                        <div id="sort-by">
                            <img src="/static/images/icons/sortby.png">
                            <select id="sort-by-input">
                                <option value="ascending" selected>Sort selected by Price Ascending</option>
                                <option value="descending">Sort selected by Price Descending</option>
                            </select>
                        </div>
                    </div>
                    <div id="horizontal-visual-curtain-below-filter-container"></div>
                </div>
                <div id="product-container"></div>
                <div id="horizontal-visual-curtain"></div>
            </div>
        </div>

        <div id="footer-container">
            <div id="footer">© 2022 Laczkó Attila László</div>
        </div>

    </body>

</html>