<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Web Shop</title>
        <link rel="icon" type="image/png" href="/static/images/favicon.png"/>

        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/modal.css" />

        <script type="module" src="/static/javascript/main.js" defer></script>
        <script type="module" src="/static/javascript/modules/fetch.js" defer></script>
        <script type="module" src="/static/javascript/modules/product.js" defer></script>
        <script type="module" src="/static/javascript/modules/registration.js" defer></script>
        <script type="module" src="/static/javascript/modules/login.js" defer></script>
        <script type="module" src="/static/javascript/modules/logout.js" defer></script>
        <script type="module" src="/static/javascript/modules/user.js" defer></script>
        <script type="module" src="/static/javascript/modules/cart.js" defer></script>
    </head>

    <body>

        <div id="header-container">
            <div id="left-header-container-unit">
                <div id="information-button"><img src="/static/images/icons/information.png"><div>Info</div></div>
            </div>
            <div id="middle-header-container-unit">
                <div id="shop-name">Web Shop</div>
            </div>
            <div id="right-header-container-unit">
                <div id="cart-button"><img src="/static/images/icons/cart.png"><div>Cart</div></div>
                <div id="order-button"><img src="/static/images/icons/order.png"><div>Orders</div></div>
                <div id="user-button"><img src="/static/images/icons/user.png"><div>User</div></div>
                <div id="registration-button"><img src="/static/images/icons/registration.png"><div>Register</div></div>
                <div id="login-button"><img src="/static/images/icons/login.png"><div>Login</div></div>
                <div id="logout-button"><img src="/static/images/icons/logout.png"><div>Logout</div></div>
            </div>
        </div>

        <div id="content-container">
            <div id="category-container"></div>

            <div id="filter-product-container">
                <div id="filter-container">
                    <div id="search">
                        <div id="left-search-unit">
                            <img src="/static/images/icons/search.png">
                            <input type="text" id="search-input">
                        </div>
                        <div id="right-search-unit">
                            <input type="radio" checked>Selected area
                            <input type="radio">Everywhere
                        </div>
                    </div>
                    <div id="sort-by">
                        <img src="/static/images/icons/sortby.png">
                        <select id="sort-by-input">
                            <option selected>Sort by Price Ascending</option>
                            <option>Sort by Price Descending</option>
                        </select>
                    </div>
                </div>

                <div id="product-container"></div>
            </div>
        </div>

        <div id="footer-container">
            <div id="footer">© 2022 Laczkó Attila László</div>
        </div>

    </body>

</html>