<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>Web Shop</title>
        <link rel="icon" type="image/png" href="/static/images/favicon.png"/>

        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/modal.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/modal-registration.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/modal-login.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/modal-user.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/modal-checkout.css" />

        <script type="module" src="/static/javascript/main.js" defer></script>
    </head>

    <body>

        <div id="header-container">
            <div id="left-header-container-unit">
                <div id="information-button"><img src="/static/images/icons/information.png"><div>Info</div></div>
            </div>
            <div id="middle-header-container-unit">
                <div id="shop-name">Web Shop</div>
            </div>
            <div id="right-header-container-unit">
                <div id="cart-button"><img src="/static/images/icons/cart.png"><div>Cart</div></div>
                <div id="order-button"><img src="/static/images/icons/order.png"><div>Orders</div></div>
                <div id="user-button"><img src="/static/images/icons/user.png"><div>User</div></div>
                <div id="registration-button"><img src="/static/images/icons/registration.png"><div>Register</div></div>
                <div id="login-button"><img src="/static/images/icons/login.png"><div>Login</div></div>
                <div id="logout-button"><img src="/static/images/icons/logout.png"><div>Logout</div></div>
            </div>
        </div>

        <div id="content-container">
            <div id="category-container"></div>

            <div id="filter-product-container">
                <div id="filter-container">
                    <div id="search">
                        <div id="left-search-unit">
                            <img src="/static/images/icons/search.png">
                            <input type="text" id="search-input">
                        </div>
                        <div id="right-search-unit">
                            <input type="radio" checked>Selected area
                            <input type="radio">Everywhere
                        </div>
                    </div>
                    <div id="sort-by">
                        <img src="/static/images/icons/sortby.png">
                        <select id="sort-by-input">
                            <option selected>Sort by Price Ascending</option>
                            <option>Sort by Price Descending</option>
                        </select>
                    </div>
                </div>

                <div id="product-container"></div>
            </div>
        </div>

        <div id="footer-container">
            <div id="footer">© 2022 Laczkó Attila László</div>
        </div>

<!--        <div id="modal-dialog">-->
<!--            <div id="modal-fade">-->
<!--                <div id="modal-dialog-container">-->
<!--                    <div id="checkout-modal-header-container">-->
<!--                        <div id="checkout-modal-header">-->
<!--                            <div id="checkout-modal-title">Checkout Process</div>-->
<!--                        </div>-->
<!--                        <div id="checkout-modal-steps">-->
<!--                            <div id="checkout-modal-cart-step" class="checkout-modal-step">-->
<!--                                <img src="/static/images/icons/cart.png"><div>Cart</div>-->
<!--                            </div>-->
<!--                            <img src="/static/images/icons/next.png" class="checkout-modal-step-separator">-->
<!--                            <div id="checkout-modal-delivery-step" class="checkout-modal-step">-->
<!--                                <img src="/static/images/icons/delivery.png"><div>Delivery</div>-->
<!--                            </div>-->
<!--                            <img src="/static/images/icons/next.png" class="checkout-modal-step-separator">-->
<!--                            <div id="checkout-modal-review-step" class="checkout-modal-step">-->
<!--                                <img src="/static/images/icons/review.png"><div>Review</div>-->
<!--                            </div>-->
<!--                            <img src="/static/images/icons/next.png" class="checkout-modal-step-separator">-->
<!--                            <div id="checkout-modal-payment-step" class="checkout-modal-step">-->
<!--                                <img src="/static/images/icons/payment.png"><div>Payment</div>-->
<!--                            </div>-->
<!--                            <img src="/static/images/icons/next.png" class="checkout-modal-step-separator">-->
<!--                            <div id="checkout-modal-confirmation-step" class="checkout-modal-step">-->
<!--                                <img src="/static/images/icons/confirmation.png"><div>Confirmation</div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div id="checkout-modal-content-container">-->
<!--                        <div></div>-->
<!--                        <div class="review-content-unit">-->
<!--                            <div class="review-content-unit-title">Contact Details</div>-->
<!--                            <div class="review-content-unit-content">-->
<!--                                <div class="review-content-unit-content-row">-->
<!--                                    <div class="review-content-unit-content-row-title">Name:</div><div class="review-content-unit-content-row-content">Laczkó Attila László</div>-->
<!--                                </div>-->
<!--                                <div class="review-content-unit-content-row">-->
<!--                                    <div class="review-content-unit-content-row-title">E-mail:</div><div class="review-content-unit-content-row-content">laczkoattilalaszlo@gmail.com</div>-->
<!--                                </div>-->
<!--                                <div class="review-content-unit-content-row">-->
<!--                                    <div class="review-content-unit-content-row-title">Phone:</div><div class="review-content-unit-content-row-content">+36 20 32 96 055</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="review-content-double-unit-container">-->
<!--                            <div class="review-content-unit">-->
<!--                                <div class="review-content-unit-title">Shipping Details</div>-->
<!--                                <div class="review-content-unit-content">-->
<!--                                    <div class="review-content-unit-content-row">-->
<!--                                        <div class="review-content-unit-content-row-title">Zip:</div><div class="review-content-unit-content-row-content">7030</div>-->
<!--                                    </div>-->
<!--                                    <div class="review-content-unit-content-row">-->
<!--                                        <div class="review-content-unit-content-row-title">Country:</div><div class="review-content-unit-content-row-content">Hungary</div>-->
<!--                                    </div>-->
<!--                                    <div class="review-content-unit-content-row">-->
<!--                                        <div class="review-content-unit-content-row-title">City:</div><div class="review-content-unit-content-row-content">Paks</div>-->
<!--                                    </div>-->
<!--                                    <div class="review-content-unit-content-row">-->
<!--                                        <div class="review-content-unit-content-row-title">Address:</div><div class="review-content-unit-content-row-content">Kereszt utca 18/A</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="review-content-unit">-->
<!--                                <div class="review-content-unit-title">Billing Details</div>-->
<!--                                <div class="review-content-unit-content">-->
<!--                                    <div class="review-content-unit-content-row">-->
<!--                                        <div class="review-content-unit-content-row-title">Zip:</div><div class="review-content-unit-content-row-content">7030</div>-->
<!--                                    </div>-->
<!--                                    <div class="review-content-unit-content-row">-->
<!--                                        <div class="review-content-unit-content-row-title">Country:</div><div class="review-content-unit-content-row-content">Hungary</div>-->
<!--                                    </div>-->
<!--                                    <div class="review-content-unit-content-row">-->
<!--                                        <div class="review-content-unit-content-row-title">City:</div><div class="review-content-unit-content-row-content">Paks</div>-->
<!--                                    </div>-->
<!--                                    <div class="review-content-unit-content-row">-->
<!--                                        <div class="review-content-unit-content-row-title">Address:</div><div class="review-content-unit-content-row-content">Kereszt utca 18/A</div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="review-content-unit">-->
<!--                            <div class="review-content-unit-title">Cart</div>-->
<!--                            <div class="review-content-unit-content">-->
<!--                                <table id="checkout-modal-review-table">-->
<!--                                    <colgroup>-->
<!--                                        <col id="checkout-modal-review-table-supplier-and-name-column">-->
<!--                                        <col id="checkout-modal-review-table-price-and-currency-column">-->
<!--                                        <col id="checkout-modal-review-table-quantity-column">-->
<!--                                        <col id="checkout-modal-review-table-sub-total-column">-->
<!--                                    </colgroup>-->
<!--                                    <thead>-->
<!--                                        <tr>-->
<!--                                            <th class="checkout-modal-review-table-left-aligned-column">Product</th>-->
<!--                                            <th class="checkout-modal-review-table-left-aligned-column">Unit price</th>-->
<!--                                            <th class="checkout-modal-review-table-center-aligned-column">Quantity</th>-->
<!--                                            <th class="checkout-modal-review-table-right-aligned-column">Sub-total</th>-->
<!--                                        </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                        <tr>-->
<!--                                            <td class="checkout-modal-review-table-left-aligned-column checkout-modal-column-with-right-padding">Apple iPhone 11 Space Grey</td>-->
<!--                                            <td class="checkout-modal-review-table-left-aligned-column">1115 HUF</td>-->
<!--                                            <td class="checkout-modal-review-table-center-aligned-column">5</td>-->
<!--                                            <td class="checkout-modal-review-table-right-aligned-column">1115 HUF</td>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
<!--                                    <tfoot>-->
<!--                                        <tr>-->
<!--                                            <td class="checkout-modal-review-table-left-aligned-column"></td>-->
<!--                                            <td class="checkout-modal-review-table-left-aligned-column"></td>-->
<!--                                            <td class="checkout-modal-review-table-center-aligned-column" id="checkout-modal-review-table-total-prize-text"><div>Total:</div></td>-->
<!--                                            <td class="checkout-modal-review-table-right-aligned-column" id="checkout-modal-review-table-total-price"><div>1115 HUF</div></td>-->
<!--                                        </tr>-->
<!--                                    </tfoot>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div id="checkout-modal-footer-container">-->
<!--                        <div id="checkout-modal-footer-container-left-unit">-->
<!--                            <div id="checkout-modal-close-button">Close</div>-->
<!--                        </div>-->
<!--                        <div id="checkout-modal-footer-container-right-unit">-->
<!--                            <div id="checkout-modal-previous-button">Previous</div>-->
<!--                            <div id="checkout-modal-next-button">Next</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    </body>

</html>