/* GLOBAL */
    .hidden {
        display: none;
    }

    a:link { text-decoration: none; color: initial}
    a:visited { text-decoration: none; color: initial}
    a:hover { text-decoration: none; color: initial}
    a:active { text-decoration: none; color: initial}

/* BODY */

    body {
        margin: 0;

        background-color: ghostwhite;
    }

    /* HEADER-CONTAINER */

        #header-container {
            display: flex;
            flex-direction: row;

            margin:10pt 10pt 0pt 10pt;
            border-radius: 10pt 10pt 0pt 0pt;

            background-color: #333333;
            text-align: center;
        }

            #left-header-container-unit {
                display: flex;
                flex: 26%;
                justify-content: left;
            }

                .header-button-left {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    margin-top: 10pt;
                    margin-bottom: 10pt;
                    margin-left: 10pt;
                    border-radius: 5pt;
                    padding-top: 10pt;
                    padding-bottom: 5pt;
                    padding-left: 5pt;
                    padding-right: 5pt;

                    width: 40pt;
                    background-color: indianred;
                }

                    .header-button-left img {
                        padding-bottom: 5pt;

                        width: 16pt;
                        height: 16pt;
                    }

                    .header-button-left div {
                        color: lightgrey;
                        font-weight: bold;
                    }

            #middle-header-container-unit {
                display: flex;
                flex: 26%;
                justify-content: center;
                align-items: center;
            }

                #shop-name {
                    color: lightgrey;
                    font-size: 200%;
                    font-weight: bold;
                }

            #right-header-container-unit {
                display: flex;
                flex: 26%;
                flex-direction: row;
                justify-content: right;
            }

            .header-button-right {
                display: flex;
                flex-direction: column;
                align-items: center;

                margin-top: 10pt;
                margin-bottom: 10pt;
                margin-right: 10pt;
                border-radius: 5pt;
                padding-top: 10pt;
                padding-bottom: 5pt;
                padding-left: 5pt;
                padding-right: 5pt;

                width: 40pt;
                background-color: #777777;
            }

                .header-button-right img {
                    padding-bottom: 5pt;

                    width: 16pt;
                    height: 16pt;
                }

                .header-button-right div {
                    color: lightgrey;
                    font-weight: bold;
                }

    /* CONTENT-CONTAINER */

        #content-container {
            display: flex;
            flex-direction: row;

            padding: 10pt;

            margin-left: 10pt;
            margin-right: 10pt;

            background-color: darkgray;
        }

            #category-container {
                display: flex;
                flex-direction: column;
                row-gap: 10pt;

                padding: 10pt;
                border-radius: 10pt;

                width: 15%;
                background-color: #333333;
            }

                .category-button {
                    border-radius: 5pt;
                    padding: 5pt;

                    background-color: #777777;
                    color: lightgrey;
                    font-weight: bold;
                    text-align: center;
                }

                .supplier-button {
                    margin-left: 10pt;
                    border-top-left-radius: 5pt;
                    border-top-right-radius: 5pt;
                    border-bottom-right-radius: 5pt;
                    border-bottom-left-radius: 15pt;
                    padding-top: 5pt;
                    padding-bottom: 5pt;
                    padding-left: 15pt;
                    padding-right: 5pt;

                    background-color: lightgrey;
                    color: black;
                    font-weight: bold;
                    text-align: center;
                }

            #filter-product-container {
                display: flex;
                flex-direction: column;

                width: 100%;
            }

                #filter-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    margin-bottom: 10pt;
                    margin-left: 10pt;
                    border-radius: 10pt;
                    padding: 10pt;

                    background-color: #333333;
                }

                    #search {
                        display: flex;
                        flex-direction: row;
                    }

                        #left-search-unit {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            border-right-style: solid;
                            border-right-width: 1pt;
                            border-right-color: #333333;

                            border-top-left-radius: 5pt;
                            border-bottom-left-radius: 5pt;

                            padding: 5pt;

                            background-color: lightgrey;
                        }

                        #right-search-unit {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            border-top-right-radius: 5pt;
                            border-bottom-right-radius: 5pt;

                            padding: 5pt;

                            background-color: lightgrey;
                        }

                            #search img {
                                width: 12pt;
                                height: 12pt;
                            }

                            #search input[type="text"] {
                                margin-left: 5pt;
                                margin-right: 13pt;
                                border-top-width: 0;
                                border-bottom-width: 1.5pt;
                                border-left-width: 0;
                                border-right-width: 0;

                                padding-top: 0;

                                background-color: transparent;
                            }

                            #search input:focus[type="text"] {
                                outline:none;

                                border-style: solid;
                                border-color: black;
                                border-top-width: 0;
                                border-bottom-width: 1.5pt;
                                border-left-width: 0;
                                border-right-width: 0;
                            }

                            #search input[type="radio"] {
                                margin-top: 0;
                                margin-bottom: 0;
                                margin-left: 10pt;
                                margin-right: 3pt;
                            }

                    #sort-by {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        border-radius: 5pt;
                        padding: 5pt;

                        background-color: lightgrey;
                    }

                        #sort-by img {
                            width: 12pt;
                            height: 12pt;
                        }

                        #sort-by select {
                            outline:none;

                            margin-left: 5pt;
                            border-width: 0;

                            background-color: transparent;
                            font-size: 11pt;
                        }

                            #sort-by select option {
                                background: lightgrey;
                            }

                #product-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 10pt 10pt;

                    margin-left: 10pt;

                    height: 100%;
                }

                    .product {
                        display: flex;
                        flex-direction: column;
                        flex-basis: 150pt;
                        flex-grow: 1;
                        flex-shrink: 1;
                        justify-content: space-between;

                        border-radius: 10pt;
                        padding: 10pt;

                        background-color: #777777;
                    }

                        .product-photo {
                            border-radius: 5pt;
                            margin-bottom: 10pt;

                            width: 100%;
                        }

                        .product-supplier-name {
                            margin-bottom: 10pt;

                            font-weight: bold;
                        }

                        .product-description {
                            margin-bottom: 10pt;
                        }

                        .product-price-currency {
                            font-weight: bold;
                            font-size: 15pt;
                        }

                        .add-to-cart-button {
                            border-radius: 5pt;
                            margin-top: 10pt;
                            padding: 5pt;

                            width: fit-content;

                            background-color: indianred;
                            color: black;
                        }

    /* FOOTER-CONTAINER */

        #footer-container {
            margin:0pt 10pt 10pt 10pt;
            border-radius: 0pt 0pt 10pt 10pt;

            background-color: #333333;
            text-align: center;
        }

            #footer {
                padding: 20pt;

                color: lightgrey;
            }