/* OWN PROPERTIES OF USER MODAL DIALOG */

    #user-modal-header-container {
        display: flex;
        flex-direction: column;
    }
        #user-modal-header {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            border-top-left-radius: 10pt;
            border-top-right-radius: 10pt;
            padding-top: 10pt;
            padding-bottom: 10pt;

            background-color: #555555;
        }

            #user-modal-header img {
                width: 25pt;
                height: 25pt;
            }

            #user-modal-title {
                padding: 5pt 5pt 5pt 5pt;

                font-weight: bold;
                font-size: 18pt;
                background-color: transparent;
            }

        #user-modal-tabs {
            display: flex;
            flex-direction: row;

            background-color: #555555;
        }

            .user-modal-tab {
                border-top-left-radius: 10pt;
                border-top-right-radius: 10pt;
                padding: 10pt;

                background-color: #777777;
                text-align: center;
            }

            .user-modal-tab-selected {
                font-weight: bold;
                background-color: #888888;
            }

    #user-modal-content-container {
        display: flex;
        flex-direction: column;
        row-gap: 10pt;

        padding: 20pt;

        height: 220pt;

        background-color: #888888;
    }

        .user-modal-content-container-double-row {
            display: flex;
            flex-direction: row;

            column-gap: 15pt;
        }

            .user-modal-content-container-double-row-row {
                display: flex;
                flex-direction: column;
            }

                .user-modal-content-container-double-row-row input {
                    margin-top: 3pt;
                    border-radius: 5pt;
                    padding: 5pt;
                }

            #zip-container {
                width: 80pt;
            }

            #country-container {
                width: 100%;
            }

        .user-modal-content-container-row {
            display: flex;
            flex-direction: column;
        }

            .user-modal-content-container-row input {
                margin-top: 3pt;
                border-radius: 5pt;
                padding: 5pt;
            }

        #user-modal-operation-result {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            height: 20pt;
            font-weight: bold;
        }

    #user-modal-footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-bottom-left-radius: 10pt;
        border-bottom-right-radius: 10pt;
        padding-top: 10pt;
        padding-bottom: 10pt;
        padding-left: 25pt;
        padding-right: 25pt;

        background-color: #555555;
    }

        #user-modal-close-button {
            display: inline-block;

            border-radius: 5pt;
            padding: 5pt;

            text-align: center;
            background-color: #888888;
        }

        #user-modal-update-button {
            display: inline-block;

            margin-left: 10pt;
            border-radius: 5pt;
            padding: 5pt;

            width: 100%;

            text-align: center;
            background-color: indianred;
        }
